{% extends 'Main.html' %} {% block Main %}

<main id="main" class="main">

  <form method="post">
    {% csrf_token %}
    <input value="{{container}}" type="hidden" name="container" />
    <div class="pagetitle">
      <h1>Console</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Console</a></li>
          <li class="breadcrumb-item active">{{name}}</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row console">
            <iframe
src="http://localhost:9999/?cid={{container}}&cmd={{shell}}"
style="height: 460px; border: none"
></iframe
          
          
            
            
          </div>
        </div>
        <!-- End Left side columns -->
      </div>
    </section>
  </form>
</main>
{% endblock Main %}
