{% extends 'Main.html' %} {% block Main %}

<!-- ======= main ======= -->
<main id="main" class="main">
  <form method="post">
    {% csrf_token %}
   <script> $(document).ready(function() {
     getcontainers();
   })</script>
    <div class="pagetitle">
      <h1>Containers</h1>
     
      {% comment %} <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
       
        </ol>
      </nav> {% endcomment %}
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row containers">
            <!-- Sales Card -->
            
          </div>
        </div>
        <!-- End Left side columns -->
      </div>
    </section>
  </form>
</main>
<!-- End #main -->

{% endblock Main %}
