{% extends 'Main.html' %} {% block Main %}

<!-- ======= main ======= -->
<main id="main" class="main">
  <form method="post">
    {% csrf_token %}

    <div class="pagetitle">
      <script> $(document).ready(function() {
        getimages();
      })</script>
      
      <div class="row">
        <h1 class="col-md-3">Images</h1>
      
      <button type="button" onclick="pullimg()" class="btn btn-primary rounded-pill col-md-2" style="position: absolute;right:10px">Pull New image</button>
    </div>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row images">
            <!-- Sales Card -->
           
          </div>
        </div>
        <!-- End Left side columns -->
      </div>
    </section>
  </form>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
{% comment %}
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    {% endcomment %}
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    {% comment %} Designed by
    <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer>
<!-- End Footer -->
{% endcomment %} {% comment %}
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
{% endcomment %}

<!-- Vendor JS Files -->
{% endblock Main %}
